@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #c2e7ff;
  --inputing: #0957d0;
  --inputing-hover: #1360d4;
  --secondary-color: #f6f8fc;
  --tertiary-color: #eef0f2;
  --hoover-color: #dfe8f6;
}

.fa-regular,
.fa-solid {
  color: #464646;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: inherit;
  color: inherit;
  font: inherit;
  border: none;
  background: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--secondary-color);
  padding: 0 40px;
}

button {
  cursor: pointer;
}

/* Edition de la topbar */

.research-header {
  display: flex;
  padding: 15px 0px 30px 0;
}

.header__side-bar {
  display: flex;
  width: 15em;
  align-items: center;
}
.header__side-bar .name h1 {
  font-size: 22px;
}

.header__side-bar .burger {
  font-size: 23px;
  color: #525252;
}

.research-bar {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  background-color: var(--tertiary-color);
  flex-grow: 0.5;
}

.research-bar #search {
  width: 100%;
  padding-left: 30px;
}

.burger,
.name,
.image {
  margin-right: 20px;
}
/* Fin de la topbar  */
.main {
  display: flex;
}

.main__list {
  background-color: white;
  height: 100vh;
  border-radius: 10px;
  padding: 0 10px;
  flex-grow: 1;
}

.main__header {
  font-size: x-large;
  font-weight: 600;
}

.head {
  display: flex;
  height: 3em;
  align-items: center;
}

.contact-list-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
}
/* -------- Debut de l'edition de la sidebar --------- */
.main .side-bar {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 15em;
}

.section__title {
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  padding: 0 12px;
  border-radius: 30px;
  width: 90%;
  align-items: center;
  height: 50px;
}

.section__title:hover {
  background-color: var(--hoover-color);
}

.primary-button {
  background-color: var(--primary-color);
  padding: 14px;
  border-radius: 1rem;
  font-size: 1em;
  width: 11rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.section__label__list__container {
  width: 100%;
}

.label__list {
  flex-direction: column;
}
.label__item {
  display: flex;
  justify-content: space-between;
  justify-self: flex-end;
  font-weight: lighter;
  width: 50%;
}
/* Fin de l'édition de la sidebar */

/* Edition de create contact */
.add-edit-contact {
  width: 40%;
}
form .edit-contact__header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.add-edit-contact form {
  display: flex;
  flex-direction: column;
}

.back {
  font-size: 1em;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.back:hover {
  background-color: var(--tertiary-color);
  cursor: pointer;
}

.save button {
  padding: 10px 20px;
  border-radius: 20em;
  font-weight: 300;
  background-color: var(--inputing);
  color: rgb(255, 255, 255);
  transition: all 0.09s ease;
}

.save button:hover {
  box-shadow: 1px 1px 10px #c4c4c4;
  background-color: var(--inputing-hover);
}

figure {
  margin-left: 40px;
}

figure img {
  width: 150px;
  height: 150px;
}

figure .fa-plus {
  z-index: 1;
  position: relative;
  bottom: 60px;
  left: 120px;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: var(--inputing);
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.contacts {
  flex-direction: column;
}

.form__component input[type="text"] {
  outline: 1px #0957d0;
}
